<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.altwav.samquicksal2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Samquicksal2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ForgotPasswordActivity"
            android:theme="@style/LoginScreen"  />
        <activity
            android:name=".BdNoshowActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".BdCancelledActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".BdDeclinedActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".BdRunawayActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".BdCompleteActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".RateFeedbackActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".GcashCheckoutActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".OrderingFoodItemActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".OrderingActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.GeofencingNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.QRScannedNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.CheckoutNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.BlockedNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.CancelledNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.DeclinedNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.RunawayNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.NoShowNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.ApprovedNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.NewAccountNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".notificationsActivity.PendingNotificationActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".LiveStatusActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".BookingDetailsActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".QueueFormActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".ReservationFormActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".ChooseOrderSetActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".RestaurantPromoViewActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".TransactionDetailsActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".RestaurantViewActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".sidebarActivities.ScanQrCode"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".sidebarActivities.TransactionHistory"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".sidebarActivities.Rewards"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".sidebarActivities.Account"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:theme="@style/RegistrationScreen" />
        <activity
            android:name=".Login"
            android:theme="@style/LoginScreen" />
    </application>

</manifest>